@mixin button {
    text-decoration: none;
    background-color: #009688;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #009688;

    font-size: 1rem;

    // text-transform: uppercase;

    &:hover {
        background-color: #fff;
        color: #009688;
    }
}

@mixin input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;

    border: 1px solid #7f7f7f;
    border-radius: 5px;
    // обводка поля
    outline: none;

    &:focus {
        border-color: #009688;
    }

    &_error {
        border-color: #b80000;
    }

    &[readonly] {
        background-color: #f2f2f2;
    }
}

@mixin checkbox {
    margin: 10px 0;
    border: 1px solid #7f7f7f;
    zoom: 1.3;

    &:focus {
        border-color: #009688;
    }

    &_error {
        border-color: #b80000;
    }
}