.problem {
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 30px;
    }

    &__item {
        display: grid;
        grid-template-rows:
            auto 1fr minmax(40px, 1fr) minmax(40px, 1fr);
        grid-template-columns: 1fr;
        grid-auto-rows: auto;

        align-content: space-between;
        justify-content: center;

        border: 1px solid #009688;
        background-color: #fff;
    }

    &__image {
        position: relative;
        padding: 0px 0px 85% 0px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        justify-self: center;
    }

    &__category {
        justify-self: start;
        background-color: #009688;
        color: #fff;
        padding: 10px;
        border-radius: 0px 20px 20px 0px;
    }

    &__time {
        justify-self: center;
        align-self: end;
        padding: 5px;
        color: grey;
    }

    &__link {
        @include button;
        margin: 10px;
        text-align: center;
    }

    &__status {
        justify-self: center;
        align-self: end;
        padding: 10px;
        background-color: #f2f2f2;
        border-radius: 5px;
    }

    &__delete {
        @include button;
        margin: 10px;
        text-align: center;
        background-color: #b80000;
        border-color: #b80000;

        &:hover {
            color: #b80000;
            cursor: pointer;
        }
    }

}